* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .div-logo {
  background-color: #212529; }
  header .div-logo .logo {
    width: 80px;
    height: auto; }

header nav .navbar-nav .nav-item:hover {
  font-size: 17px; }

.banner .background-image {
  background-image: url(/images/background-img.jpg);
  background-repeat: no-repeat; }
  .banner .background-image img {
    width: 320px; }

.banner h2 {
  width: 60%; }

.card {
  margin-top: 20px; }
  .card .card-body {
    display: flex;
    flex-direction: column;
    background-color: #d44000; }
    .card .card-body hr {
      color: white;
      background-color: white;
      height: 8px;
      width: 60%;
      margin: auto; }
    .card .card-body a {
      text-decoration: none; }

.slider-text {
  background-color: #d44000;
  height: 200px;
  display: flex;
  justify-content: center; }
  .slider-text .carousel-item {
    width: 100%; }
    .slider-text .carousel-item .exp {
      width: 60%;
      margin: auto;
      padding-top: 40px; }

.background-image {
  background-image: url(/images/background-img.jpg);
  background-repeat: no-repeat; }
  .background-image .logo2 {
    width: 240px; }

.subtitulo {
  color: #d44000; }

.cartas {
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
