.banner {
    .background-image {
        background-image: url(/images/background-img.jpg);
        background-repeat: no-repeat;
        img {
            width: 320px;
        }
    }
    h2 {
        width: 60%;
    }
}
